<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.blog.mapper.TCommentMapper">
    
    <resultMap type="TComment" id="TCommentResult">
        <result property="id"    column="id"    />
        <result property="nickname"    column="nickname"    />
        <result property="email"    column="email"    />
        <result property="heatPhoto"    column="heat_photo"    />
        <result property="content"    column="content"    />
        <result property="createTime"    column="create_time"    />
        <result property="blogId"    column="blog_id"    />
        <result property="commentId"    column="comment_id"    />
    </resultMap>

    <sql id="selectTCommentVo">
        select id, nickname, email, heat_photo, content, create_time, blog_id, comment_id from t_comment
    </sql>

    <select id="selectTCommentList" parameterType="TComment" resultMap="TCommentResult">
        <include refid="selectTCommentVo"/>
        <where>  
            <if test="nickname != null  and nickname != ''"> and nickname like concat('%', #{nickname}, '%')</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
            <if test="heatPhoto != null  and heatPhoto != ''"> and heat_photo = #{heatPhoto}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="blogId != null  and blogId != ''"> and blog_id = #{blogId}</if>
            <if test="commentId != null  and commentId != ''"> and comment_id = #{commentId}</if>
        </where>
    </select>
    
    <select id="selectTCommentById" parameterType="String" resultMap="TCommentResult">
        <include refid="selectTCommentVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTComment" parameterType="TComment">
        insert into t_comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="nickname != null">nickname,</if>
            <if test="email != null">email,</if>
            <if test="heatPhoto != null">heat_photo,</if>
            <if test="content != null">content,</if>
            <if test="createTime != null">create_time,</if>
            <if test="blogId != null">blog_id,</if>
            <if test="commentId != null">comment_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="nickname != null">#{nickname},</if>
            <if test="email != null">#{email},</if>
            <if test="heatPhoto != null">#{heatPhoto},</if>
            <if test="content != null">#{content},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="blogId != null">#{blogId},</if>
            <if test="commentId != null">#{commentId},</if>
         </trim>
    </insert>

    <update id="updateTComment" parameterType="TComment">
        update t_comment
        <trim prefix="SET" suffixOverrides=",">
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="email != null">email = #{email},</if>
            <if test="heatPhoto != null">heat_photo = #{heatPhoto},</if>
            <if test="content != null">content = #{content},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="blogId != null">blog_id = #{blogId},</if>
            <if test="commentId != null">comment_id = #{commentId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTCommentById" parameterType="String">
        delete from t_comment where id = #{id}
    </delete>

    <delete id="deleteTCommentByIds" parameterType="String">
        delete from t_comment where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>