<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.blog.mapper.TTagMapper">

    <resultMap type="TTag" id="TTagResult">
        <result property="id"    column="id"    />
        <result property="serialNum"    column="serial_num"    />
        <result property="name"    column="name"    />
    </resultMap>

    <sql id="selectTTagVo">
        select id, serial_num, name from t_tag
    </sql>

    <select id="selectTTagList" parameterType="TTag" resultMap="TTagResult">
        <include refid="selectTTagVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
        </where>
        order by serial_num
    </select>

    <select id="selectTTagById" parameterType="String" resultMap="TTagResult">
        <include refid="selectTTagVo"/>
        where id = #{id}
    </select>

    <insert id="insertTTag" parameterType="TTag">
        insert into t_tag
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="serialNum != null and serialNum != ''">serial_num,</if>
            <if test="name != null and name != ''">name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="serialNum != null and serialNum != ''">#{serialNum},</if>
            <if test="name != null and name != ''">#{name},</if>
         </trim>
    </insert>

    <update id="updateTTag" parameterType="TTag">
        update t_tag
        <trim prefix="SET" suffixOverrides=",">
            <if test="serialNum != null and serialNum != ''">serial_num = #{serialNum},</if>
            <if test="name != null and name != ''">name = #{name},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTTagById" parameterType="String">
        delete from t_tag where id = #{id}
    </delete>

    <delete id="deleteTTagByIds" parameterType="String">
        delete from t_tag where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
